modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18115
externalPort = 3000

[[ports]]
localPort = 21934
externalPort = 3002

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
REVENUECAT_PROJECT_ID = "projbcf28414"
REVENUECAT_TEST_STORE_APP_ID = "app2e386c1ab6"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appa17cf1c75a"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app930718a639"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_TExKrCoADojjrUJWwalyuxyoPQn"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_AkJaZbbWfONHNMThsUKKzcFdUor"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_FtWmMNblRQsQzEvBmOAHALRugZM"
